<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>dev mode</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/grids-responsive-min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</head>
<body>

<header>
    <div class="site-title"><h1>dev mode</h1></div>
</header>

<article>
    <div id="connection-status"><div>test</div></div>
</article>

<footer />

</body>

<script>
    // 描画が先にされてないと困ってしまうので
    var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
    console.debug(connection);
    var type = connection && connection.type ? connection.type : 'ないっぽい';
    console.debug(type);
    var targetElement = document.getElementById("connection-status");
    console.debug(targetElement);
    targetElement.innerHTML = type;

    function updateConnectionStatus() {
        //var targetElement = document.getElementById("connection-status");
        //targetElement.appendChild("Connection type is change from " + type + " to " + connection.type);
    }

    //connection.addEventListener('typechange', updateConnectionStatus);
</script>
</html>
